html,body{overflow-x:hidden;        /* Prevent scroll on narrow devices */}
body{padding-top:56px;}
@media (max-width:767.98px){
  .offcanvas-collapse{position:fixed;top:56px;            /* Height of navbar */bottom:0;width:100%;padding-right:1rem;padding-left:1rem;overflow-y:auto;background-color:var(--gray-dark);transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out;-webkit-transform:translateX(100%);transform:translateX(100%);}
  .offcanvas-collapse.open{-webkit-transform:translateX(-1rem);transform:translateX(-1rem);            /* Account for horizontal padding on navbar */}
}

.nav-scroller{position:relative;z-index:2;height:2.75rem;overflow-y:hidden;}
.nav-scroller .nav{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;padding-bottom:1rem;margin-top:-1px;overflow-x:auto;color:rgba(255,255,255,.75);text-align:center;white-space:nowrap;-webkit-overflow-scrolling:touch;}
.nav-underline .nav-link{padding-top:.75rem;padding-bottom:.75rem;font-size:.875rem;color:var(--secondary);}
.nav-underline .nav-link:hover{color:var(--blue);}
.nav-underline .active{font-weight:500;color:var(--gray-dark);}
.text-white-50{color:rgba(255,255,255,.5);}
.bg-purple{background-color:var(--purple);}
.border-bottom{border-bottom:1px solid #e5e5e5;}
.box-shadow{box-shadow:0 .25rem .75rem rgba(0,0,0,.05);}
.lh-100{line-height:1;}
.lh-125{line-height:1.25;}
.lh-150{line-height:1.5;}
textarea{width:100%;}
.nav-underline .active {
    font-weight: 700;
    color: var(--blue);
}
header h1 {
    text-align: center;
}
header a{
  color:#000;
}
header a:hover{
text-decoration: none
}

.btn{float:right; margin-right: 1%;}

hr.side { border: solid #000000;
    border-width: 2px 0 0;
    clear: both;
    margin: 22px 0 21px;
    height: 0; }
 .title_item{width: 100%;}

 .post-action-icon {
    background: 0 0;
    border: none;
    outline: 0;
    color: #bbb;
    padding: 0;
    display: inline-block;
    width: 34px;
    cursor: pointer;
}


.icon-upvote-outline:before {
   /*  content: "\2018"; */
    content: url(ic_thumb_up_black_24dp_1x.png);
}
.icon-upvote-fill:before {
    content: "\e001"
}

.material-icons:hover{cursor: pointer;}
#deletePost:hover{cursor: pointer;}
#title_item_left{ padding-top: 10px; }
#title_item_right i {
    padding: 8px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(11, 11, 11, 0.1);
}
main{ padding-bottom: 10%; }

#pop_delete{ top: 20%; }
.pop_create{width: 80%;}
.post_detail_top{padding: 1rem;}
.post_detail_p{padding-top: 0.5rem;}
time {
    padding: 0 0.5rem;
}
#new-post{margin-right: 1.2rem;}

.Modal {


     background: none;
     overflow: none;
    border-radius: none;
    outline: none;
     padding:none;

     position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 1050;

         overflow: hidden;
         outline: 0;


     opacity: 1;
     z-index: 1072;
     transition: opacity .15s linear;

  }
.delete:hover,.edit:hover{cursor: pointer;}

.comment_body, .comment_detail{ width:100%;}
.Overlay {background-color: #000;}
.comment-text p:before{content:"\003e"; margin-right:0.45rem}
